<div>
  <h1 class="mat-display-1">Buttons</h1>
  <app-button></app-button>
</div>

<div>
  <h1 class="mat-display-1">Auto Complete</h1>
  <app-autocomplete></app-autocomplete>
</div>

<div>
  <h1 class="mat-display-1">Badges</h1>
  <app-badges></app-badges>
</div>

<div>
  <h1 class="mat-display-1">Date Picker</h1>
  <app-date-picker></app-date-picker>
</div>

<div>
  <h1 class="mat-display-1">chips</h1>
  <app-chips></app-chips>
</div>

<div>
  <app-cards></app-cards>
</div>

<div>
  <app-button-toggle></app-button-toggle>
</div>

<div>
  <app-dialog></app-dialog>
</div>

<div>
  <app-checkbox></app-checkbox>
</div>

<div>
  <app-divider></app-divider>
</div>

<div>
  <app-expansion></app-expansion>
</div>

<div>
  <app-form></app-form>
</div>

<div>
  <app-icons></app-icons>
</div>

<div>
  <app-input></app-input>
</div>

<div>
  <app-list></app-list>
</div>

<div>
  <app-menu></app-menu>
</div>

<div>
  <app-paginator></app-paginator>
</div>

<div>
  <app-progress></app-progress>
</div>

<div>
  <app-spinner></app-spinner>
</div>

<div>
  <app-radio></app-radio>
</div>

<div>
  <app-sidenav></app-sidenav>
</div>

<div>
  <app-slidetoggle></app-slidetoggle>
  </div>

  <div>
    <app-slider></app-slider>
  </div>

  <div>
    <app-stepper></app-stepper>
  </div>

  <div>
    <app-tab></app-tab>
  </div>

  <div>
    <app-toolbar></app-toolbar>
  </div>

  <div>
    <app-tooltip></app-tooltip>
  </div>

  <div>
    <app-tree></app-tree>
  </div>

  <div>
    <app-snackbar></app-snackbar>
  </div>

  <div>
    <app-bottomsheet></app-bottomsheet>
  </div>

