<h1 class="mat-display-1">Buttons</h1>
<app-button></app-button>
<br />
<hr />
<br />
<h1 class="mat-display-1">Auto Complete</h1>
<app-autocomplete></app-autocomplete>
<br />
<hr />
<br />
<h1 class="mat-display-1">Badges</h1>
<app-badges></app-badges>
<br />
<hr />
<br />
<h1 class="mat-display-1">Date Picker</h1>
<app-date-picker></app-date-picker>
<br />
<hr />
<br />
<h1 class="mat-display-1">chips</h1>
<app-chips></app-chips>
<br />
<hr />
<br />
<app-cards></app-cards>
<br />
<hr />
<br />
<app-button-toggle></app-button-toggle>
<br />
<hr />
<br />
<app-dialog></app-dialog>
<br />
<hr />
<br />
<app-checkbox></app-checkbox>
<br />
<hr />
<br />
<app-divider></app-divider>
<br />
<hr />
<br />
<app-expansion></app-expansion>
<br />
<hr />
<br />
<app-form></app-form>
<br />
<hr />
<br />
<app-icons></app-icons>
<br />
<hr />
<br />
<app-input></app-input>
<br />
<hr />
<br />
<app-list></app-list>
<br />
<hr />
<br />
<app-menu></app-menu>
<br />
<hr />
<br />
<app-paginator></app-paginator>
<br />
<hr />
<br />
<app-progress></app-progress>
<br />
<hr />
<br />
<app-spinner></app-spinner>
<br />
<hr />
<br />
<app-radio></app-radio>
<br />
<hr />
<br />
<app-sidenav></app-sidenav>
<br />
<hr />
<br />
<app-slidetoggle></app-slidetoggle>
<br />
<hr />
<br />
<app-slider></app-slider>
